.popup
{
    background-color: #999999;
    height: 600px;
    width: 550px;
    border-radius: 15px;
    position: absolute;
    top: 150%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    justify-content: center;
    transition:  transform 0.4s, top 0.4s;
    visibility: visible;
}

.popup-open
{
    visibility: visible;
    top: 50%;
}

.popup #productName
{
    /*border: 2px solid red;*/
    width: 50%;
    height: 120px;
    word-wrap: normal;
    position: absolute;
    display: inline-block;
    text-align: center;
    transform: translate(-18px, -40px);
    font-size: 45px;
}
.popup .priceContainer
{
    /*display: inline-block;*/
    position: absolute;
    right: 38%;
    top: 8%;
}
.popup .price
{
    font-size: 35px;
}
.popup .subprice
{
    font-size: 13px;
    display: inline-block;
    transform: translate(0, -18px);
}
.popup img
{
    width: 250px;
    transform: translate(-55%, 0px);
    /*height: 250px;*/
}
.popup iframe
{
    transform: translate(0, -5px);
    width: 525px;
    height: 225px;
}
.popup button
{
    width: 200px;
    height: 75px;
    transform: translate(-77.5%, 0px);
    font-size: 35px;
}